{% extends 'index_base.html' %}


{% block header_title %}{% trans %}Templates{% endtrans %}{% endblock %}

{% block lead_content %}
{% trans %}How to work with html templates and template tags.{% endtrans %}
{% endblock %}


{% block content_right %}
    <div class="accordion" id="accordion2">

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#accordion2" href="#template-collapse">
                {% trans %}Rendering simple templates{% endtrans %}
                </a>
            </div>
            <div id="template-collapse" class="collapse">
                <div class="accordion-inner">
                {% include 'template/pygments/simple.html' %}
                    <a href="{{ uri_for('template_simple') }}" target="_blank">
                        <button class="btn btn-primary">{% trans %}Preview{% endtrans %}</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#accordion2" href="#tags-template-collapse">
                {% trans %}Passing variables to and using tags in templates{% endtrans %}
                </a>
            </div>
            <div id="tags-template-collapse" class="collapse">
                <div class="accordion-inner">
                {% include 'template/pygments/tags.html' %}
                    <a href="{{ uri_for('template_with_tags') }}" target="_blank">
                        <button class="btn btn-primary">{% trans %}Preview{% endtrans %}</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
