{% extends 'index_base.html' %}


{% block header_title %}{% trans %}Templates{% endtrans %}{% endblock %}

{% block lead_content %}
{% trans %}Templates are just HTML files but with some bonus: you have some
functions called tags that can help you rendering something that python
evaluates.{% endtrans %}
{% endblock %}


{% block content_right %}
    <div class="accordion" id="accordion2">

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#accordion2" href="#template-collapse">
                {% trans %}Rendering simple templates{% endtrans %}
                </a>
            </div>
            <div id="template-collapse" class="collapse">
                <div class="accordion-inner">
                    <p>
                        {% trans %}
                        Simple way to render templates without tags
                        {% endtrans %}
                    </p>
                    {% include 'template_render/pygments/simple.html' %}
                    <p>
                        {% trans %}
                        The template:
                        {% endtrans %}
                    </p>
                    {% include 'template_render/pygments/simple_template.html' %}
                    {{ preview(uri_for('template_simple')) }}
                    {{ docs("http://webapp-improved.appspot.com/tutorials/gettingstarted/templates.html") }}
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#accordion2" href="#tags-template-collapse">
                {% trans %}
                Passing variables to and using tags in templates
                {% endtrans %}
                </a>
            </div>
            <div id="tags-template-collapse" class="collapse">
                <div class="accordion-inner">
                    <p>
                        {% trans %}
                        This is the way Google teaches us how to do.
                        {% endtrans %}
                    </p>
                    {% include 'template_render/pygments/tags.html' %}
                    <p>
                        {% trans %}
                        The template:
                        {% endtrans %}
                    </p>
                    {% include 'template_render/pygments/tags_template.html' %}
                    {{ preview(uri_for('template_with_tags')) }}
                    {{ docs("http://webapp-improved.appspot.com/tutorials/gettingstarted/templates.html") }}
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#accordion2" href="#jinja2-collapse">
                {% trans %}
                Using jinja2 as template render
                {% endtrans %}
                </a>
            </div>
            <div id="jinja2-collapse" class="collapse">
                <div class="accordion-inner">
                    <p>
                        {% trans %}
                        Jinja2 provides better handle of templates and it's
                        even possible to call Python functions (either built-in
                        or not) as template tags.
                        {% endtrans %}
                    </p>
                    <p>
                        {% trans %}
                        In this example, we are extending jinja2 to pass
                        functions to the template either as template tags
                        (globals) or template filters.
                        {% endtrans %}
                    </p>
                    {% include 'template_render/pygments/jinja2.html' %}
                    <p>
                        {% trans %}
                        The template:
                        {% endtrans %}
                    </p>
                    {% include 'template_render/pygments/jinja2_template.html' %}
                    {{ preview(uri_for('template_jinja2')) }}
                    {{ docs("http://jinja.pocoo.org/docs/api/") }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
