{% extends 'index_base.html' %}


{% block header_title %}{% trans %}Basics{% endtrans %}{% endblock %}

{% block lead_content %}
{% trans %}
Here is the section that every skilled programmer knows by heart:
Basic concepts of webapp2 Handlers (a.k.a. Views) and their main objects.
{% endtrans %}
{% endblock %}


{% block content_right %}
    <div class="accordion" id="accordion2">

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#accordion2" href="#yaml-collapse">
                {% trans %}Creating a yaml file and main file{% endtrans %}
                </a>
            </div>
            <div id="yaml-collapse" class="collapse">
                <div class="accordion-inner">
                    <p>
                        {% trans %}
                        Before creating your app, you must configure a file
                        called app.yaml. App Engine depends on it to run and it
                        must be located in the root path of your project.
                        {% endtrans %}
                    </p>
                    <p>
                        {% trans %}
                        There you must define some routes, python version, app
                        version, libraries you eventually use and error handlers.
                        {% endtrans %}
                    </p>
                    <p>
                        {% trans %}
                        Routes must point to an WSGI Application. Check the
                        main.py to see how to configure it.
                        {% endtrans %}
                    </p>
                    {% include 'basics/pygments/yaml.html' %}
                    {% include 'basics/pygments/main.html' %}
                    <a target="_blank"
                    href="https://developers.google.com/appengine/docs/python/config/appconfig">
                        <button class="btn btn-info">
                            {% trans %}Docs{% endtrans %}
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#accordion2" href="#routing-collapse">
                {% trans %}URL routing{% endtrans %}
                </a>
            </div>
            <div id="routing-collapse" class="collapse">
                <div class="accordion-inner">
                    <p>
                        {% trans %}
                        Pass the routes variable to the WSGIApplication as
                        first param as seen before in main.py.
                        {% endtrans %}
                    </p>
                    <p>
                        {% trans %}
                        This is an example of URL routing for gae-snippets.
                        It must be compatible with the app.yaml file.
                        You can use route names inside your templates using
                        template tags as shown in next session.
                        {% endtrans %}
                    </p>
                    {% include 'basics/pygments/routing.html' %}
                    <a target="_blank"
                    href="http://webapp-improved.appspot.com/guide/routing.html#guide-routing">
                        <button class="btn btn-info">
                            {% trans %}Docs{% endtrans %}
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#accordion2" href="#http-methods-collapse">
                {% trans %}GET/POST requests{% endtrans %}
                </a>
            </div>
            <div id="http-methods-collapse" class="collapse">
                <div class="accordion-inner">
                    <p>
                        {% trans %}
                        Just how to start a view/handler with GET or POST
                        request handler
                        {% endtrans %}
                    </p>
                    {% include 'basics/pygments/http_methods.html' %}
                    {{ preview(uri_for('http_methods_get')) }}
                    <a target="_blank"
                    href="https://developers.google.com/appengine/docs/python/gettingstartedpython27/helloworld">
                        <button class="btn btn-info">
                            {% trans %}Docs{% endtrans %}
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#accordion2" href="#request-get-collapse">
                {% trans %}Request object - Parsing GET params, user agent and
                more{% endtrans %}
                </a>
            </div>
            <div id="request-get-collapse" class="collapse">
                <div class="accordion-inner">
                    <p>
                        {% trans %}
                        A simple example how to retrieve get parameters, user
                        agent and referrer.
                        {% endtrans %}
                    </p>
                    {% include 'basics/pygments/request_get.html' %}
                    {{ preview(uri_for('request_get'), "param1=1234&anotherparam=4343") }}
                    {{ docs("http://webapp-improved.appspot.com/guide/request.html") }}
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#accordion2" href="#request-post-collapse">
                {% trans %}
                Request object - Parsing POST params and body
                {% endtrans %}
                </a>
            </div>
            <div id="request-post-collapse" class="collapse">
                <div class="accordion-inner">
                    <p>
                        {% trans %}
                        Same way to get POST params and body.
                        {% endtrans %}
                    </p>
                    {% include 'basics/pygments/request_post.html' %}
                    <a id="post-preview" class="btn btn-success"
                    data-toggle="modal" href="#post-modal">
                        Preview
                    </a>
                    {{ docs("http://webapp-improved.appspot.com/guide/request.html") }}
                </div>
            </div>

            <div id="post-modal" class="modal hide fade">
                <div class="modal-body">
                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#post-preview').click(function(){
            jQuery.post("{{ uri_for('request_post') }}",
                {param1: 123, testparam2: 777},
                function(data){
                    jQuery('#post-modal .modal-body').html('');
                    jQuery('#post-modal .modal-body').append(data);
                }
            );
        });
    });
</script>
{% endblock %}
