{% extends 'index_base.html' %}


{% block header_title %}{% trans %}Basics{% endtrans %}{% endblock %}

{% block lead_content %}
{% trans %}This section will show basic concepts of libraries that App Engine uses
like webapp2 and jinja2 and their capabilities.{% endtrans %}
{% endblock %}


{% block content_right %}
    <div class="accordion" id="accordion2">

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                data-parent="#accordion2" href="#http-methods-collapse">
                {% trans %}GET/POST requests{% endtrans %}
                </a>
            </div>
            <div id="http-methods-collapse" class="collapse">
            {% include 'basics/pygments/http_methods.html' %}
                <a href="{{ uri_for('http_methods_get') }}" target="_blank">
                    <button class="btn btn-primary">{% trans %}Preview{% endtrans %}</button>
                </a>
            </div>
        </div>

    </div>
{% endblock %}
