{% extends 'index_base.html' %}


{% block header_title %}
        {{app_name}}
{% endblock %}

{% block lead_content %}
        {% trans %}Start making projects with Python and Google App Engine and learn how to do it with latest libraries.{% endtrans %}<br/>
{% endblock %}

{% block subnavbar %}{% endblock %}

{% block content_right %}
    <div class="home_bp">
        {% trans %}Because I know how you feel when trying to search through Google's docs.{% endtrans %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}
