{% extends base_layout %}

{% block header_title_lead %}
<header class="navbar" id="overview">
    <h1>{% block header_title %}{% endblock %}</h1>
    <p class="lead">
        {% block lead_content %}{% endblock %}
    </p>
    {% block subnavbar %}{% endblock %}
</header>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span3">
        <div class="well" style="width: 100%; padding: 8px 0;">
            <ul class="nav nav-list">
                <li>
                    <a href="{{ uri_for('basics_index') }}">Basics</a>
                </li>
                <li>
                    <a href="{{ uri_for('template_index') }}">Templates</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="span9">
    {% block content_right %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
